﻿<!DOCTYPE html>
<html lang="en" ng-app="MeetUp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - Meetup Application - AofT-M</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>

    <!--[if lt IE 9]>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js'></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js'></script>
    <![endif]-->

    <meta name="description" content="Meetup -Sample Application">
    <meta name="author" content="MTofa">

 

</head>
<body>



    <div >

        <div class="row">

            <div class="col-md-5">
                <div class="topleftnav">

                    @Html.ActionLink("Create a Meetup Group", "New", "MeetupGroup")
                </div>

            </div>
            <div class="col-md-2 text-center">
              
                <a  href="/#/">
                    <img src='@Url.Content("~/content/Images/logo.png")'>
                </a>
            </div>

            <div class="col-md-3">


                @Html.Partial("_LoginPartial")


            </div>
            <div class="col-md-1"></div>
        </div>


        @Html.Partial("_SearchHeaderPartial")
        <div class="row">

            <div class="col-md-2"></div>
            <div class="col-md-8">

                @RenderBody()
            </div>

        </div>

        <!--detail container -->
        <!--Main container ends -->
    </div>




    @Html.Partial("Footer")





@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

  
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-sanitize.min.js"></script>

    @Scripts.Render("~/bundles/angularProjectpkg")
    @Scripts.Render("~/bundles/angularProject")

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-91623104-1', 'auto');  //main
  //ga('create', 'UA-92772688-1', 'auto');
  ga('send', 'pageview');

    </script>


@RenderSection("scripts", required: false)
</body>
</html>