﻿@using Meetup2.Helpers.Users
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{


    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <div id="navbar8" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" ng-controller="NotificationCtrl">


                <li class="meetup-bell"
                    ng-click="ShowNotification()"
                    popover-title="{{dynamicPopover.title}}"
                    uib-popover-template="dynamicPopover.templateUrl"
                    popover-trigger="'outsideClick'"
                    popover-placement="bottom" ng-cloak>

                    <a href="#">
                        <i class="fa fa-bell-o" style="font-size: 35px; color: gray;" popover-placement="bottom"></i>
                        <span class="badge" ng-class="{'hide':badge_status}" ng-cloak >{{NotificationCount}}</span>
                    </a>


                </li>



                <li class="meetup-profile dropdown ">





                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">
                        <i class="fa fa-user-circle-o"
                           aria-hidden="true" style="font-size: 30px; color: green;"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>&nbsp;<i class="fa fa-address-book-o" aria-hidden="true"></i> @User.GetFullName()</li>
                        <li class="divider"></li>
                        <li>
                            &nbsp;<i class="fa fa-snowflake-o" aria-hidden="true"></i>
                            @Html.ActionLink("Manage Groups", "Index", "MeetupGroup", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li class="divider"></li>
                        <li>
                            &nbsp;<i class="fa fa-globe" aria-hidden="true"></i>
                            @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li class="divider"></li>
                        <li>
                            &nbsp;<i class="fa fa-window-close-o" aria-hidden="true"></i>
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        </li>
                    </ul>
                </li>

            </ul>

            <script type="text/ng-template" id="myPopoverTemplate.html">

                <ul class="notification-menu">
                    <li ng-repeat="item in elements track by $index ">
                        <div ng-if="item.NotificationType===1">
                            <a href="/Meetup/Show/{{item.Id}}"><b>{{item.Title}}</b> has been Cancelled.</a>
                        </div>

                        <div ng-if="item.NotificationType===2">
                            <a href="/Meetup/Show/{{item.Id}}"><b>{{item.Title}}</b> has been changned.</a>
                           
                        </div>

                    </li>
                </ul>

            </script>

        </div>

    }
}

else
{
    <div class="toprightnav pull-right">
        <ul>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

        </ul>
    </div>
  
    
}
