﻿
    <div class="parent-div">


        <div class="row jumbotron ">
          
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="container">
                        @if (string.IsNullOrEmpty(ViewBag.heading))
                        {
                            <h2 class="text-center">What do you love?</h2>
                            <p class="text-center">Do more of it with Meetup</p>
                        }
                        <br/>
                        <p class="text-center">@ViewBag.heading</p>



</div>
                </div>
          
        </div>


        <div ui-view="searchview"></div>
      

       


        <div>

        </div>


    </div>



