﻿<div class="row">
    <div class="col-md-12">
        <div class="secondary-footer">
            <ul>
                <li> <a rel="nofollow" href="#"> AofT-M&copy; 2017. All rights reserved.</a> </li>
                <li> <a rel="nofollow" href="#">Terms &amp; conditions</a> </li>
                <li> <a rel="nofollow" href="#">Privacy policy</a> </li>
                <li> <a href="#">Contact</a> </li>
            </ul>
        </div>
    </div>
</div>
