﻿<div class="col-sm-8">
    <div ng-controller="MeetupListController">

        <p class="text-center" ng-class="{'hide':fa_spin_status}">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size: 36px;"></i>
        </p>




        <div ng-if="checkIsMeetupEmpty()">

            <div ng-repeat="meetup in data.Meetups track by $index" ng-cloak>


                <div ng-if="shouldShowDate(meetup.DateTime,$index)">
                    <br>
                    <strong ng-cloak>{{meetup.DateTime|date:'fullDate'}}</strong>
                    <br><br>
                </div>

                <div class="meetup-list-parent">

                    <div class="meet-time" ng-cloak>{{meetup.DateTime|date:'shortTime'}}</div>
                    <div class="meet-details">
                        <ul>
                            <li class="meetgrouptext">
                                <a ng-href="MeetupGroup/Show/{{meetup.GroupId}}" ng-cloak>{{meetup.GroupTitle}}</a>
                            </li>
                            <li class="meeteventtext">
                                <span ng-if="meetup.IsCancled">
                                    <span class="label label-warning">
                                        Cancled &nbsp;
                                    </span>
                                </span>
                                <a ng-href="Meetup/Show/{{meetup.Id}}" ng-cloak>{{meetup.Title}}</a>

                            </li>

                        </ul>

                    </div>
                </div>



            </div>

            <br />

            <div ng-if="shouldShowNextButton(data.nextUrl,data.Meetups)" ng-cloak>
                <div class="btn btn-default btn-block"  ng-click="showNext(data.nextUrl)"><strong>Show more</strong></div>
            </div>

        </div>


        <div ng-if="!checkIsMeetupEmpty()" ng-cloak>
            <p class="well well-lg">
                <strong>There are no Meetups matching this search</strong>
            </p>
        </div>




    </div>
</div>

<div class="col-sm-3">
    <div ng-controller="MeetupNavController">

        <ul class="meetup-menu" ng-init="selectedMenu='AllMeetups'">

            <li ng-class="{'meetup-menu-selected':selectedMenu==='AllMeetups'}">
                <a href="" ng-click="showAllMeetups()">All meetups</a>
            </li>
            <li ng-if="!shouldShowMenu(data.authenticationStatus)">
                <a ng-href="Account/Login" >I am going</a>
            </li>
            <li ng-if="shouldShowMenu(data.authenticationStatus)"
                ng-class="{'meetup-menu-selected':selectedMenu==='IamGoing'}">
                <a href="" ng-click="showIamGoing()">I am going</a>
            </li>
        </ul>
    </div>

    <br />
    <br />
    <div ng-controller="DatepickerDemoCtrl">
        <button type="button" class="btn btn-sm btn-default today-button" ng-click="today()">Today</button>
        <br />
        <div style="display: inline-block; min-height: 290px;">
            <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
        </div>
    </div>
</div>
