﻿<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 search-border">
        <div class="col-sm-5">

            <div class="form-group" ng-controller="TypeaheadCtrl">
                <form ng-submit="SearchMeetups()">
                    <div class="input-group stylish-input-group">
                        <input type="text" ng-model="asyncSelected"
                               placeholder="search.."
                               typeahead-min-length='3'
                               uib-typeahead="meetup for meetup in getMeetups($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               class="form-control">


                        <span class="input-group-addon">
                            <button type="submit">
                                <i ng-show="loadingLocations" class="fa fa-spinner fa-spin  fa-fw"></i>
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>



        </div>

        <span class="text-color"><i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> within 2 miles of Melbourne, AU</span>

        <div class="btn-group pull-right meetup-buttons" ng-init="selectedbuttonclass='active'">
            <a ui-sref="groups" class="btn btn-default " ui-sref-active="active">Groups</a>
            <a ui-sref="calender" class="btn btn-default" ui-sref-active="active">Calendar</a>
        </div>


    </div>
    <div class="col-md-2"></div>
</div>