﻿@model IEnumerable<Meetup2.Models.MeetUpGroup>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meetup Groups</h2>

    <div class="list-group">

        @foreach (var g in Model)
        {

           
                @Html.ActionLink(@g.Title, "Show", "MeetupGroup", new { id = g.Id },new {@class= "list-group-item" })

            <br/>


        }
    </div>

