﻿@model Meetup2.ViewModel.GroupViewModel
@{
    ViewBag.Title = "CreateGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.ValidationSummary()

<div class="col-sm-10">
   
    <br/>
    @using (Html.BeginForm("Create", "MeetupGroup"))
    {
        <div class="form-group">
            @Html.LabelFor(e => e.HomeTown, "What's your new Meetup Group's hometown?")
            @Html.TextBoxFor(e => e.HomeTown, new {@class = "form-control"})
            @Html.ValidationMessageFor(e => e.HomeTown)
        </div>

        <div class="form-group">
            @Html.LabelFor(e => e.Title, "What will your Meetup's name be?")
            @Html.TextBoxFor(e => e.Title, new {@class = "form-control"})
            @Html.ValidationMessageFor(e => e.Title)
        </div>


        <div class="form-group">
            @Html.LabelFor(e => e.Description, "Describe who should join, and what your Meetup will do.")
            @Html.TextAreaFor(e => e.Description, new {@class = "form-control"})
            @Html.ValidationMessageFor(e => e.Description)
        </div>




        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary"> Save </button>
    }

</div>



