﻿@using Meetup2.Extentions_Custom
@model Meetup2.ViewModel.GroupViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@if (Model.ShowButton)
{
    <div class="clearfix gap-bottom">

        @Html.ActionLink("Add a Meetup", "New", "Meetup", new { id = Model.Id }, new { @class = "btn btn-success pull-right" })


    </div>
}

<br />
<br />
<div class="clearfix gap-bottom">
    <div class="groupView">
        <img src="~/Content/Images/group1.jpg" alt="..." class="pull-left gap-right" height="242" width="200">

        <p class="text-justify">
            @Model.Description
        </p>
    </div>

</div>

<div class="page-header">
    <h4>Upcoming Meetups</h4>
</div>
<br />

<div ng-controller="appMeetupGroupCtrl">
  @foreach (var g in Model.MeetUp)
  {


    <div class="groupView-left">


        <h3>
            @Html.ActionLink(g.Title, "Show", "Meetup", new { id = g.Id }, null)
        </h3>
        <h4>
            <i class="fa fa-clock-o meetup-icon"></i>
            @g.DateTime.ToString("D")
            at
            @g.DateTime.ToString("h:mm tt")
            <br />
            <i class="fa fa-map-marker meetup-icon"></i>
            @g.Location

        </h4>
        <p class="text-justify">
            @g.Details

        </p>


    </div>
    <div class="groupView-right">


        @if (Model.ShowButton&& !g.IsCancled)
        {

            <span class="btn-group">

                <button type="button" class="btn btn-default">
                    <a href="@Url.Action("Edit", "MeetUp", new {id = g.Id}, null)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </button>
   <button 
                        class="btn btn-default"
                        mwl-confirm
                        title="Are you sure?"
                        message="Are you really <b>sure</b> you want to do this?"
                        confirm-text="Yes <i class='glyphicon glyphicon-ok'></i>"
                        cancel-text="No <i class='glyphicon glyphicon-remove'></i>"
                        placement="top"
                        on-confirm="CancleMeetup(@g.Id)"
                        on-cancel="cancelClicked = true"
                        confirm-button-type="danger"
                        cancel-button-type="default">
                     <i class="fa fa-remove" aria-hidden="true"></i>
               
                </button>

            </span>


            <br />
            <br />
        }


       
        @if (g.IsCancled)
        {
            <div class="label label-danger">
                Cancled &nbsp;
            </div>

        }

     

    </div>
    <br />
  }


</div>






