﻿@using Meetup2.Models
@using Meetup2.ViewModel
@model Meetup2.ViewModel.LoginViewModel
@{
   // ViewBag.Title = "Log in";
   
}


<div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-8">
            <section id="loginForm">
                <div class="well text-center">
                    <b>Log in as an Organizer</b>
                    <br />
                    Username: a@b.com
                    <br />
                    Password: Asdfg@1234
                    <br /><br />
                    <b>Log in as a Member</b>
                    <br />
                    Username: e@f.com
                    <br />
                    Password: Asdfg@1234

                </div>

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                    <div class="form-group">

                       

                        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                        <div class="col-md-10">
                            <div class="radio">
                                <label><input type="radio" Value="a@b.com" name="Email">a@b.com </label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" Value="e@f.com" name="Email">e@f.com</label>
                            </div>
                            @*@Html.TextBoxFor(m => m.Email, new {@class = "form-control input-email-1", @Value = "a@b.com"})
                            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})*@
                        </div>
                    </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-password-1", @Value = "Asdfg@1234" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default submit-1" />
                            </div>
                        </div>

                        }
</section>


        </div>
        <div class="col-md-4">

        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}