﻿<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <strong>THURSDAY, JANUARY 19</strong>
        <br><br>

        <ul class="meetup-list">
            <li class="borderlist">
                <div class="meet-time">5:30PM</div>
                <div class="meet-details">
                    <ul>
                        <li class="meet-group-text">MELBOURNE STARTUP SOCIETY</li>
                        <li class="meet-event-text">Summer UX Design Bootcamp</li>
                        <li>7 Members going</li>
                    </ul>

                </div>
                <div class="meet-join">
                    <button class="btn btn-info">Going?</button>
                </div>
            </li>


            <li class="borderlist">
                <div class="meet-time">5:30PM</div>
                <div class="meet-details">
                    <ul>
                        <li class="meet-group-text">MELBOURNE STARTUP SOCIETY</li>
                        <li class="meet-event-text">Summer UX Design Bootcamp</li>
                        <li>7 Members going</li>
                    </ul>

                </div>
                <div class="meet-join">
                    <button class="btn btn-info">Going?</button>
                </div>
            </li>
        </ul>

        <br>
        <strong>THURSDAY, JANUARY 19</strong>
        <br><br>

        <ul class="meetup-list">
            <li class="borderlist">
                <div class="meet-time">5:30PM</div>
                <div class="meet-details">
                    <ul>
                        <li class="meet-group-text">MELBOURNE STARTUP SOCIETY</li>
                        <li class="meet-event-text">Summer UX Design Bootcamp</li>
                        <li>7 Members going</li>
                    </ul>

                </div>
            </li>
            <li class="borderlist">
                <div class="meet-time">5:30PM</div>
                <div class="meet-details">
                    <ul>
                        <li class="meet-group-text">MELBOURNE STARTUP SOCIETY</li>
                        <li class="meet-event-text">Summer UX Design Bootcamp</li>
                        <li>7 Members going</li>
                    </ul>

                </div>
            </li>



        </ul>
    </div>

    <div class="col-md-2">

        <ul class="meetup-menu ">
            <li>All Meetups</li>
            <li class="meetup-menu-selected">My meetups</li>
            <li>I am going</li>
        </ul>



    </div>

</div>