
.body{
  top:70px;   
}

.logo{
     margin-bottom: 1px;
}

.toprightnav {
    float: left;
    margin-top: 10px;
}
.toprightnav ul {
     padding:0; 
     margin:0; 
     list-style:none; 
     border:0; 
}
.toprightnav ul li {
    float: left;
    padding: 10px;
    
}
.toprightnav ul li a {
    cursor: hand;
    cursor: pointer;
    color: black!important;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.topleftnav {
    margin-left: 40px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}


.jumbotron {
  margin:0px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  color: white;
  background-color:#ed1c40;
  
}


.parent-div{
    position:relative;
    margin: 0px;
}

/* Search box*/

.search-border{
    padding: 15px;
    background-color: black;
    position:relative;
    bottom:25px;
    z-index: 1;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .searchOption {
    border-right:0;
    -webkit-box-shadow:0 0 0;
    -ms-box-shadow:0 0 0;
    box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}



.text-color{
    color: aliceblue;
}

ul{
   margin: 0px;
   padding: 0px;  
   list-style: none;    
}

.meetup-list-parent {
    margin-top: 5px;
    padding: 20px;
    border: 1px solid  rgba(0,0,0,.12);
    height: 140px;
    
}



.meet-time{
    float:left;
    width:15%;
    font-size: 13px;
    color:gray!important;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: -.02em;
}


.meet-details{
    float:left;
    margin-left:20px;
    width: 80%;
}

li.meetgrouptext {
   text-transform:uppercase;
}

li.meetgrouptext a{
  text-decoration: none;
  font-size: 12px;
  color:gray!important;
  font-weight:bold; 
  
}
li.meeteventtext {
   
}
li.meeteventtext a{
  text-decoration: none;
  font-size: 20px;
  color: black !important;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -.02em;
}







.meetup-show-list > li {

    margin-top: 1px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px; 
    padding: 0px;
    clear:left;/*important */
    padding: 20px;
    list-style-position:inside;
    border: 1px solid  rgba(0,0,0,.12);
    /*border-bottom: none;*/
    line-height: normal;
    height:500px!important;
    
}

ul.meetup-menu  {
    width: 300px;

}

.meetup-menu > li {
    
    margin: 0px;
    padding: 0px;
    clear:left;/*important */
    padding:5px;
    list-style-position:inside;
    border: 1px solid  rgba(0,0,0,.12);
    border-bottom: none;
}

.meetup-menu > li:last-child{
   border-bottom: 1px solid  rgba(0,0,0,.12);  
 
}
li.meetup-menu-selected{
    background-color: rgba(0,0,255,.05)!important;
    color: #1f24cc!important;
    font-weight: 600; 
    border-left-width: thick!important;
    border-left-color:  darkred!important;
   
}

li.meetup-menu-selected > a, a:active, a:hover, a:link, a:visited {
    cursor: hand;
    cursor: pointer;
    color: #1f24cc;
    text-decoration: none;
 }

.meetup-menu  li a {
    font-size: 12px!important;
    font-weight: bold!important;
}

.meetup-bell{
    position: relative;
}
.meetup-bell >i {
    margin-top: 20px;
    

}
.badge{
    position:absolute;
    color:white;
    background: red;

    top:15px;
    left:35px;
}

.meetup-profile {
    margin-left: 20px;
}

.mettup-details {
    white-space: pre-wrap;
}
.meetup-buttons  a, a:active, a:hover, a:link, a:visited {
    cursor: hand;
    cursor: pointer;
    color: black!important;
    text-decoration: none;
 }

.notification-menu  li {
    
    margin: 0px;
    padding: 2px;
    clear:left;/*important */
    list-style-position:inside;
    border-bottom: 1px solid  #000000;
    border-bottom: 1px solid  rgba(0,0,0,.12);
}

.notification-menu  li:last-child {

    border-bottom: none;
}


.today-button {

    margin-bottom: 5px;
}
.glyphicon-refresh {
    color: white;
}


/*   search */
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: ghostwhite;
    outline: 0;
}

.gap-right {
  margin-right: 10px; 
}
.gap-bottom {
    margin-bottom: 10px;
}

.groupView-left {
    
    border-bottom: 1px solid  rgba(0,0,0,.12);
    border-left: 1px solid  rgba(0,0,0,.12);
    border-top: 1px solid  rgba(0,0,0,.12);

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
    height: 300px;
    padding: 25px;
    float: left;
    width: 90%;
    margin-top: 10px;
}
.groupView-right {
   
    border-bottom: 1px solid  rgba(0,0,0,.12);
    border-right: 1px solid  rgba(0,0,0,.12);
    border-top: 1px solid  rgba(0,0,0,.12);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
    height: 300px;
    padding: 5px;
    float: left;
    width: 10%;
    margin-top: 10px;
}

.navbar-nav>li>.dropdown-menu {
    width: 250px;
}
.dropdown-menu>li>a {
    display: inline;
    padding-left: 5px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

/* footer*/

.secondary-footer {
    margin-top: 10%;
    background-color: #353C3D;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}


.secondary-footer ul li a  {
    color: white!important;
    text-decoration: none;
}

.secondary-footer a:hover {
    color: white;
}

.secondary-footer span {
    color: white;
}

.secondary-footer ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    /* For IE */
    zoom: 1;
    *display: inline;
}

.secondary-footer li {
    display: inline;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

.meetup-icon {
    padding: 10px;
}

.thumbnail {
    height: 300px;
}
.thumbnail > img {
    height: 200px;
}
.caption {
    text-transform: capitalize;
}

