﻿<div class="row">

    <div ng-controller="MeetupGroupFrontpageCtrl">

        <div ng-repeat="meetupgroup in data.meetupGroups track by $index" ng-cloak>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">

                    <img src="../../Content/Images/{{meetupgroup.Img}}" height="242" width="200" />


                    <div class="caption">
                        <p>
                            <strong>
                                <small>
                                    <a ng-href="MeetupGroup/Show/{{meetupgroup.Id}}" ng-cloak>{{meetupgroup.Title}}</a>
                                </small>
                            </strong>
                        </p>

                        <!--<a href="#" class="btn btn-success" role="button">Join</a>-->

                    </div>
                </div>
            </div>
        </div>



    </div>






</div>