﻿@model Meetup2.ViewModel.EventViewModel
@{
    ViewBag.Title = "ConfirmDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Do you want to cancle this event?</h3>
@using (Html.BeginForm("Delete", "Meetup"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m=>Model.MeetupId)
    <button type="submit" class="btn btn-danger"> Yes </button>
   
}




