﻿@using System.Globalization
@model Meetup2.ViewModel.EventViewModel
@{
    ViewBag.Title = "MeetUpEventForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@Model.FormAction() a Meetup </h2>

@*@Html.ValidationSummary()*@

@using (Html.BeginForm(Model.FormAction(), "MeetUp"))
{


    <div class="form-group">
        @Html.LabelFor(e => e.Title)
        @Html.TextBoxFor(e => e.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Location)
        @Html.TextBoxFor(e => e.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Location)
    </div>

    @Html.LabelFor(e => e.EventDateTime, "Meetup Date and Time")
    <div class="form-group date form_datetime" data-date="@DateTime.Now.ToString("u")">
        <input size="30" type="text" name="EventDateTime" value="@Model.EventDateTime" readonly>
        <span class="add-on"><i class="fa fa-times"></i></span>
        <span class="add-on"><i class="fa fa-calendar"></i></span>
        <br/>
        @Html.ValidationMessageFor(e => e.EventDateTime)
    </div>


   


        <div class="form-group">
            @Html.LabelFor(e => e.Details)
            @Html.TextAreaFor(e => e.Details, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Details)
        </div>


        @Html.HiddenFor(e => e.MeetUpGroupId)
        @Html.HiddenFor(m => m.MeetupId)
        @Html.HiddenFor(m=>m.DispalyTitle)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary"> Save </button>
}



<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@section scripts
{


    <script src="~/AngularPkg/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: "dd MM yyyy - HH:ii P",
        showMeridian: true,
        autoclose: true,
        todayBtn: true
    });
</script> 

}


