﻿@using System.Web.UI.WebControls
@using Meetup2.Models
@model Meetup2.ViewModel.EventIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your MeetUpEvents</h2>

@foreach (var meetUpGroup in Model.MeetUpGroups)
{
    <b>Group: @meetUpGroup.Title</b>

    foreach (var eventinfo in meetUpGroup.MeetUps)
    {
        <br />
        <b>
            @Html.ActionLink("Edit", "Edit", "MeetUp", new { id = eventinfo.Id }, null)
            | @Html.ActionLink("Delete", "Delete", "MeetUp", new { id = eventinfo.Id }, null)
        </b>
        <strong>@if (eventinfo.IsCancled)
        {
            <span class="label label-warning">
                Cancled
            </span>
        }
             @eventinfo.Title</strong>


    }

}
