﻿@using System.Security.Policy
@model Meetup2.ViewModel.EventShowViewModel
@{
    ViewBag.Title = "Show";
    ViewBag.RightMenu = "hide";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br/>
<br/>
<br/>

<div class="groupView-left">


    <h3>
        @Model.MeetUp.Title
        @if (Model.MeetUp.IsCancled)
        {
            <span class="label label-warning">
            Cancled &nbsp;
        </span>
        }


    </h3>
    <h4>

        <i class="fa fa-clock-o meetup-icon"></i>
        @Model.MeetUp.DateTime.ToString("D")
        at
        @Model.MeetUp.DateTime.ToString("h:mm tt")
        <br />
        <i class="fa fa-map-marker meetup-icon"></i>
        @Model.MeetUp.Location

       
    </h4>
    <p class="text-justify">
        @Model.MeetUp.Details
    </p>


</div>

<div class="groupView-right">
    <span class="btn-group">

        @if (Request.IsAuthenticated)
        {

            <div class="meet-join" ng-controller="UserController">

                @{
                    var buttonText = "RSVP";
                    var buttonClass = "btn-info";
                    bool buttonStatus = Model.AttandanceLookup.Contains(Model.MeetUp.Id);
                    if (buttonStatus)
                    {
                        buttonText = "Going";
                        buttonClass = "btn-success";
                    }

                }
                
@if (!Model.MeetUp.IsCancled)
{
    <div ng-init="RsvpButtonText='@buttonText'; RsvpbuttonClass='@buttonClass'"></div>
    <button id="singlebutton2"
                        name="singlebutton2"
                        ng-click="OnRSVP(@Model.MeetUp.Id)"
                        class="btn {{RsvpbuttonClass}}"
                        ladda="RsvpLaddaStatus"
                        data-style="zoom-in">
                    <span>{{RsvpButtonText}}</span>
                </button>
}
            </div>

                    }

        @if (!Request.IsAuthenticated)
        {
            <button id="singlebutton2" name="singlebutton2" class="btn btn-info">
                <span>
                    @Html.ActionLink("RSVP", "RSVP", "Meetup")
                </span>
            </button>
        }
     </span>


</div>





